:root {
  --color-white: #f2f2f2;
  --color-black: #2e2e2e;
  --color-purple: #ad699a;
  --color-purple-low-opacity: #a85c9079;
  --color-green: #8cc63f;
  --color-brown: #6a492c;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


.nav-bar {
  max-width: 125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

nav>ul {
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.125rem;
  display: flex;
  gap: 80px;
}

nav>ul>li {
  list-style: none;
}

.left {
  padding-right: 60px;
}

.right {
  padding-left: 60px;
}

a {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-black);
}

nav>img {
  width: 150px;
}

.hero {
  background-image: radial-gradient(circle, var(--color-purple-low-opacity), var(--color-purple));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color: var(--color-white);
  font-size: 6rem;
  text-align: center;
  font-weight: 700;
}

.hero .hero-img {
  margin-top: -10px;
  margin-left: 150px;
}

.hero .hero-h1 {
  width: 55%;
  margin-right: 100px;
  margin-left: -200px;
}

.hero-main-text {
  text-shadow: 0 0 8px var(--color-green);
}